.works {
  padding: 0 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
  align-items: center;
}

/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
}

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 0.7 rem; /* Increased font size */
  line-height: 1.6; /* Increased line height for better readability */
  margin-top: 1rem;
}

.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 4rem;
}

/* right side */
.w-right {
  position: relative;
  width: 400px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  margin: auto;
}

.w-mainTriangle {
  position: relative;
  width: 100%;
  height: 100%;
}

.w-secTriangle {
  width: 80px; /* Adjust size as needed */
  height: 80px; /* Adjust size as needed */
  position: absolute;
}

.w-secTriangle#node1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.w-secTriangle#node2 {
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
}

.w-secTriangle#node3 {
  bottom: 0;
  right: 0;
  transform: translateY(-50%);
}

/* Lines connecting the nodes */
.line {
  position: absolute;
  background-color: black;
}

#line1 {
  width: 2px; /* Adjust thickness as needed */
  height: calc(100% - 80px); /* Adjust to match the height minus one node */
  top: 40px; /* Adjust to start below the top node */
  left: 50%;
  transform: translateX(-50%);
}

#line2 {
  width: calc(50% - 40px); /* Adjust to match half the width minus one node */
  height: 2px; /* Adjust thickness as needed */
  bottom: 40px; /* Adjust to be above the bottom nodes */
  left: 50%;
  transform: translateX(-50%);
}

#line3 {
  width: calc(50% - 40px); /* Adjust to match half the width minus one node */
  height: 2px; /* Adjust thickness as needed */
  bottom: 40px; /* Adjust to be above the bottom nodes */
  right: 50%;
  transform: translateX(50%) rotate(60deg); /* Adjust rotation to match diagonal */
  transform-origin: bottom left;
}

#line4 {
  width: calc(50% - 40px); /* Adjust to match half the width minus one node */
  height: 2px; /* Adjust thickness as needed */
  bottom: 40px; /* Adjust to be above the bottom nodes */
  left: 50%;
  transform: translateX(-50%) rotate(-60deg); /* Adjust rotation to match diagonal */
  transform-origin: bottom right;
}

@media screen and (max-width: 480px) {
  .works {
    flex-direction: column;
    height: 55rem;
    padding: 0;
    gap: 5rem;
  }

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
  }

  .w-mainCircle {
    position: static;
  }

  .w-backCircle {
    left: 8rem !important;
  }
}
